---
layout: normal
author_profile: false
share: false
index: true
comments: false
permalink: /demo-archive/
title: "Demo Camp"
---

<style>
  .demo-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .demo-list li {
    list-style: none;
    margin: 0.6em;
    width: auto;
    text-align: center;
    border: 1px solid #a9dde0;
    border-radius: 4px;
    background: transparent;
    vertical-align: top;
  }
  .demo-list li a {
    padding: 0.5em 0.8em;
    display: inline-block;
  }
</style>

<p>Learn the implementation by viewing page source.</p>

<h2>Funny Demo</h2>
<ul class="demo-list">
  {% capture written_label %}'None'{% endcapture %}

  {% for collection in site.collections %}
    {% for post in collection.docs %}
      {% if collection.output == true and collection.label == "demos" and post.path contains "funny" %}
        {% if post.id %}
          {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
        {% else %}
          {% assign title = post.title %}
        {% endif %}
        {% if post.link %}
          <li class="note-item"><a target="_blank" href="{{ post.link }}">{{ title }}</a><a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a></li>
        {% else %}
          <li class="note-item"><a target="_blank" href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

<h2>Codewar Demo</h2>
<ul class="demo-list">
  {% capture written_label %}'None'{% endcapture %}

  {% for collection in site.collections %}
    {% for post in collection.docs %}
      {% if collection.output == true and collection.label == "demos" and post.path contains "codewar" %}
        {% if post.id %}
          {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
        {% else %}
          {% assign title = post.title %}
        {% endif %}
        {% if post.link %}
          <li class="note-item"><a target="_blank" href="{{ post.link }}">{{ title }}</a><a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a></li>
        {% else %}
          <li class="note-item"><a target="_blank" href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>