---
layout: normal
author_profile: false
share: false
index: true
comments: false
permalink: /note-archive/
title: "Amazing Note"
---

<style>
  .note-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>

<p>Find some amazing notes here.</p>

<!-- javascript -->
{% include note-list.html category="JavaScript" %}
<!-- css -->
{% include note-list.html category="CSS" %}
<!-- html -->
{% include note-list.html category="HTML" %}
<!-- mixin -->
{% include note-list.html category="mixin" %}

