
<h2>{{ include.category }}</h2>
{% assign category = include.category | slugify %}
<ul class="note-list">
  <!-- 有道云或第三方笔记 -->
  {% for note in site.data.note.notes %}
  {% if note.category == category %}<li class="note-item"><a target="_blank" href="{{ note.url }}" rel="permalink">{{ note.title }}</a></li>{% endif %}
  {% endfor %}
  <!-- 本地笔记 -->
  {% for collection in site.collections %}
    {% for post in collection.docs %}
      {% if collection.output == true and collection.label == "notes" %}
        {% if post.id %}
          {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
        {% else %}
          {% assign title = post.title %}
        {% endif %}
        {% if post.link %}
          <li class="note-item"><a href="{{ post.link }}">{{ title }}</a><a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a></li>
        {% else %}
          {% if post.category == category %}<li class="note-item"><a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a></li>{% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>