---
layout: single
permalink: /demo/index.html
title: "Demo List"
---

<style>
  .demo-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .demo-list li {
    list-style: none;
    margin: 0.6em;
    width: auto;
    text-align: center;
    border: 1px solid #a9dde0;
    border-radius: 4px;
    background: transparent;
    vertical-align: top;
    font-size: 0.6em;
    line-height: 1.5em;
  }
  .demo-list li a {
    padding: 0.5em 0.8em;
    display: inline-block;
  }
</style>
<p>可通过查看源代码了解实现方法</p>
<h2>Funny Demo</h2>
<ul class="demo-list">
  {% for item in site.data.demo.list %}
  <li><a target="_blank" href="/demo/{{ item.title }}.html">{{ item.title }}</a></li>
  {% endfor %}
</ul>
<h2>Codewar Demo</h2>
<ul class="demo-list">
  {% for item in site.data.demo.codewar %}
  <li><a target="_blank" href="/demo/{{ item.title }}.html">{{ item.title }}</a></li>
  {% endfor %}
</ul>